@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
    font-family: montserrat;
}

.container{
   
   width: 100vw;
 
}
.content{
  background-color: #ff7f50;
}
.content1{

    display: flex;
    gap: 20px;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
ion-icon{
    color: white;
    font-size: 50px;
}
.content1 img{
    width: 30%;
    height: 30rem;
}
#welcome{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
form{
        background-color: white;
        width: 30%;
        height: 21rem;
        gap: 10px;
        padding: 10px;
        border: 1px solid gray;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
}
.content2{
    margin-top: 50px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    
    
}
.input {
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  .input .input {
    border: 1px solid grey;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
  }
  .input label {
    padding: 5px;
    font-size: 20px;
    background-color: white;
    color: #ffb29c;
  }
  .labels{
    background-color: #ff7f50;
    color: white;
    padding: 10px;
    width: 100%;
  }
  .activities{
    background-color: white;
    color: black;
    min-height: 100px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin: 4rem;
    justify-content: center;
    align-items: center;
  }
  .activities h3{
    text-align: center;
    padding: 50px;
  }
  .task{
    padding: 10px;
    /* border: 1px solid #ff7f50; */
    box-shadow: 0 4px 4px 0  #ff7f50;
    width: 12rem;
    justify-content: center;
    align-items: center;
  }
  .modalTask{
    width: 30rem;
    background-color: white;
    position: relative;
    left: 30%;
    bottom: 15%;
    justify-content: center;
    align-items: center;

  }
  #modal{
     height: 10rem;
  }
  .taskbtn{
    display: flex;
    gap: 20px; 
    justify-content: center;
    align-items: center;
  
  }
  .taskbtn button {
    padding: 10px;
    color: white;
    border: none;
  }
  #act{
    text-align: center;
    font-size: 28px;
    padding: 10px;
  }

  #best{
    background-color: white;
    color: black;
    width: 50%;
  }